@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
  --rustyRidge: .25rem ridge rgb(75, 48, 40);
  /* --chromeRidge: .25rem ridge rgb(129, 107, 95); */
  --chromeRidge: .1rem dashed greenyellow;
  --CRT-screen: repeating-linear-gradient(
    0deg, 
    rgb(5, 5, 8),
    rgb(7, 7, 9) 10px, 
    rgb(0, 0, 0) 10px);

    --screen-shine: repeating-linear-gradient(
      45deg, 
      transparent 0%,
      rgba(164, 230, 167, 0.02) 50%, 
      transparent 100%);
      
      /* conic-gradient(
      from 45deg at 90% 10%, 
      rgba(147, 226, 151, 0.3), 
      transparent, 
      rgb(128, 100, 194)); */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-family: 'IBM Plex Mono', monospace;
  /* background-color: var(--CRT-screen); */
}

header.jumbotron > * {
  background-image: url('/assets/images/GS_A.jpg');
  border: var(--rustyRidge);
  padding: .5rem;
}

.stopit {
  margin: 0;
  padding: 0;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: silver;
  background-image: url('/assets/images/CS_C_A.jpg');
  color: black;
  border-radius: 0;
  /* border-bottom: var(--rustyRidge); */
  margin: 0;
}

.jumbotron h1 {
  font-family: 'Roboto Mono', monospace;
}

.jumbotron p {
  font-weight: bold;
}


.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* I think Bootstrap gives all rows a thin white border automatically. This overrides it.  */
.row {  
  border-top: 0 !important;
  border-bottom: var(--chromeRidge);
  color: greenyellow;
  background: var(--CRT-screen);
}

.row:last-child {
  border-bottom: none;
}

.container-fluid {
  border: var(--rustyRidge);
}

.container-fluid div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-2 {
  background: var(--screen-shine);
  min-height: 3rem;
  font-size: 1.5rem;
}

.col-8 {
  background: var(--screen-shine);
  min-height: 3rem;
  border-left: var(--chromeRidge);
  border-right: var(--chromeRidge);
}

/* .material-icons.md-48 { font-size: 654px; } */

.material-symbols-outlined {
  font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 48
}


